In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
roms = pd.concat([pd.DataFrame(
    [{'arab':a.text.split()[0],'roman':a.text.split()[1]} for a in \
 BeautifulSoup(requests.get('https://smorgasborg.artlung.com/roman-numerals/page/%d' % p) \
              .content,'html5lib').find('pre').find_all('a')]) for p in range(1,11)])

In [3]:
roms = roms[roms['arab'] != '0']

In [4]:
def rom2ar_test(fun): # ez azokat az eseteket adja vissza, ahol az átváltás helytelen
    calc = roms['roman'].apply(fun)
    tru = roms['arab'].apply(int)
    return roms[calc != tru]

In [5]:
def rom2ar(rom_string):
    if rom_string == 'V':
        return 5
    elif rom_string == 'I':
        return 1
    elif rom_string == 'X':
        return 10
    elif rom_string == 'L':
        return 50
    elif rom_string == 'C':
        return 100
    elif rom_string == 'D':
        return 500
    else:
        return 1000

In [6]:
rom2ar_test(rom2ar)

       arab              roman
2         2                 II
3         3                III
4         4                 IV
6         6                 VI
7         7                VII
...     ...                ...
996    9996    MMMMMMMMMCMXCVI
997    9997   MMMMMMMMMCMXCVII
998    9998  MMMMMMMMMCMXCVIII
999    9999    MMMMMMMMMCMXCIX
1000  10000         MMMMMMMMMM

[10001 rows x 2 columns]

Virág ezt a házit így nem tudjuk elfogadni. Kérlek írj egy olyan függvényt, ami átváltja az összes római karaktert arab számra, ebben ha elakadsz akkor keress minket és segítünk A mostani függvényed 5 héttel ezelőt tis meg tudtad volna írni, már nem ez az elvárás :D – VÁ